@import "common";

footer {
    background-color: $color_primary;
}

.mn_footer {
    color: white;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;

    .mn_footer__left{
        flex: 1 1 0;
        margin-left: 1em;
    }

    .mn_footer__middle{
        text-align: center;
        flex: 1 1 0;

        p{
            width:100%;
        }

        img{
            width: 2em;
            height: 2em;
        }
    }

    .mn_footer__right{
        text-align: right;
        flex: 1 1 0;
        margin-right: 1em;
    }

    @media screen and (max-width: $max_width_tablet) {
        padding: 0;
        margin: 0 1em;
        font-size: 12px;
    }
}
