<header class="header-wrapper">
    <nav>
        <a href="/index.html" class="mdl-layout__tab" alt="Accueil"
           id="#home" onclick="app.changeMenu('#home')"><img src="/img/mxt-icon-home.svg" rel="start" alt="Accueil"></a>
        <a href="/blog.html" class="mdl-layout__tab" alt="Blog"
           id="#blog" onclick="app.changeMenu('#blog')">Blog</a>
        <a href="/faq.html" class="mdl-layout__tab" alt="FAQ"
           id="#faq" onclick="app.changeMenu('#faq')">FAQ</a>
        <a href="/ressources.html" class="mdl-layout__tab" alt="Ressources"
           id="#ressources" onclick="app.changeMenu('#ressources')">Ressources</a>
    </nav>
</header>
<div class="header-space"></div>
