<p align="center"><small>hosted and supported by</small></p>
<p align="center">
    <img src="{{ baseuri }}img/logo/logo-clevercloud.svg" alt="hosted by Clever Cloud">
</p>
<footer>
    <div class="mn_footer">
        <div class="mn_footer__left">
            <p>
                All right reserved - @2018 MixTeen
            </p>
        </div>
        <div class="mn_footer__middle is-large-screen">
            <p><img src="{{ baseuri }}img/mxt-icon--heart.svg" alt="MixTeen" title="Heart"></p>
        </div>
        <div class="mn_footer__right">
            <p>
                <a href="https://twitter.com/MixTeen_Lyon" target="_blank" rel="noopener"><img src="{{ baseuri }}img/contact/twitter.svg"
                                                                                          alt="Twitter"
                                                                                          class="mn_social"></a>&nbsp;
                <a href="https://github.com/MixTeen" target="_blank" rel="noopener"><img src="{{ baseuri }}img/contact/github.svg"
                                                                                         alt="Github" class="mn_social"></a>&nbsp;
                <a href="mailto:team@mixteen.org" target="_blank" rel="noopener"><img src="{{ baseuri }}img/contact/mail.svg"
                                                                                            alt="Contactez nous"
                                                                                            class="mn_social"></a>&nbsp;
            </p>
        </div>
    </div>
</footer>
