<header class="header-wrapper">
    <nav>
        <a href="{{ baseuri }}index.html" class="mdl-layout__tab" alt="Accueil"
           id="#home" onclick="app.changeMenu('#home')"><img src="{{ baseuri }}img/mxt-icon-home.svg" rel="start" alt="Accueil"></a>
        <a href="{{ baseuri }}blog.html" class="mdl-layout__tab" alt="Blog"
           id="#blog" onclick="app.changeMenu('#blog')">Blog</a>
        <a href="{{ baseuri }}faq.html" class="mdl-layout__tab" alt="FAQ"
           id="#faq" onclick="app.changeMenu('#faq')">FAQ</a>
        <a href="{{ baseuri }}ressources.html" class="mdl-layout__tab" alt="Ressources"
           id="#ressources" onclick="app.changeMenu('#ressources')">Ressources</a>
        <a href="{{ baseuri }}code-de-conduite.html" class="mdl-layout__tab" alt="Code de conduite" id="#coc"
           onclick="app.changeMenu('#coc')">Code de Conduite</a>
        <a href="{{ baseuri }}droit-image.html" class="mdl-layout__tab" alt="Droit à l'image" id="#droit-image"
           onclick="app.changeMenu('#droit-image')">Droit à l'image</a>
    </nav>
</header>
<div class="header-space"></div>
