<footer>
    <div class="mn_footer">
        <div class="mn_footer__left">
            <p>
                All right reserved - @2018 MixTeen
            </p>
        </div>
        <div class="mn_footer__middle is-large-screen">
            <p><img src="../../img/mxt-icon--heart.svg" alt="MixTeen" title="Heart"></p>
        </div>
        <div class="mn_footer__right">
            <p>
                <a href="https://twitter.com/mixteen" target="_blank" rel="noopener"><img src="img/contact/twitter.svg"
                                                                                          alt="Twitter"
                                                                                          class="mn_social"></a>&nbsp;
                <a href="https://github.com/MixTeen" target="_blank" rel="noopener"><img src="img/contact/github.svg"
                                                                                         alt="Github" class="mn_social"></a>&nbsp;
                <a href="mailto:mixteen.lyon@gmail.com" target="_blank" rel="noopener"><img src="img/contact/mail.svg"
                                                                                            alt="Contactez nous"
                                                                                            class="mn_social"></a>&nbsp;
            </p>
        </div>
    </div>
</footer>