<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="js/main.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    <div class="mn_head" id="home">
        <mixteen-block>
            <p class="mn_logo">
                <img src="../../img/logo/logo_mixteen_alt_baseline.svg" alt="MixTeen" title="MixTeen">
            </p>
        </mixteen-block>
    </div>
    <mixteen-block>
        <p class="mn_lead mn_content">
                La programmation n'est pas réservée aux informaticiens adultes et pas besoin de faire des études pendant des
                années
                pour comprendre comment on programme. Tu es un enfant ou un ado entre 7 ans et 15 ans, toute la team MixTeen
                est là
                pour te montrer qu'avec de la créativité et de la curiosité, il est possible de réaliser des programmes
                informatiques
                tout en s’amusant.
        </p>
        <div class="mn_grid__flexible" style="text-align: center">
            <div class="mn_grid__element_first">
                <picture alt="Apprendre avec Scratch">
                    <source srcset="img/blog/2017/mixit/mixit2.webp" type="image/webp"/>
                    <source srcset="img/blog/2017/mixit/mixit2.jpg"/>
                    <img src="img/blog/2017/mixit/mixit2.jpg" alt="Reprendre les bases">
                </picture>
                <h2>Apprendre avec Scratch</h2>
                <p>Animer un écureuil par de la programmation par bloc est idéale pour apprendre les bases de
                    l'algorithmie</p>
            </div>
            <div class="mn_grid__element">
                <picture alt="Apprendre avec Thymio">
                    <source srcset="img/blog/2017/mixit/mixit6.webp" type="image/webp"/>
                    <source srcset="img/blog/2017/mixit/mixit6.jpg"/>
                    <img src="img/blog/2017/mixit/mixit6.jpg" alt="Reprendre les bases">
                </picture>
                <h2>Apprendre avec Thymio</h2>
                <p>Thymio est un petit robot facile à programmer qui permet de comprendre les bases de la robotique</p>
            </div>
            <div class="mn_grid__element">
                <picture alt="Apprendre avec Micro:bit">
                    <source srcset="img/blog/2017/mixit/mixit19.webp" type="image/webp"/>
                    <source srcset="img/blog/2017/mixit/mixit19.jpg"/>
                    <img src="img/blog/2017/mixit/mixit19.jpg" alt="Reprendre les bases">
                </picture>
                <h2>Apprendre avec Micro:bit</h2>
                <p>Cette carte a été élaborée pour aider les ados à s’initier à l’électronique, l’IoT et la
                    programmation.</p>
            </div>
        </div>

        <p class="mn_lead mn_content">
            Chaque année nous essayons de trouver de nouveaux ateliers pour t'intéresser.
        </p>




    </mixteen-block>

    <div class="mn_home_blog">
        <mixteen-block>
            <h1 class="mn_content">Les événements</h1>

            <p class="mn_content">
                Nous organisons plusieurs événements par an que tu peux suivre dans la partie "Blog" en cliquant
                sur le menu correspondant en haut. Nous essayons d'écrire un article à chaque nouvel événement prévu.
            </p>

            <div class="mn_grid__flexible">
                {{#firstArticle}}
                    <article class="mn_grid__element dm-blog--article"
                             onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                        <p class="mn_lead dm-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></p>
                        <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                        <p class="dm-blog--teaser">{{teaser}}</p>
                    </article>

                {{/firstArticle}}
                {{#secondArticles}}
                    <article class="mn_grid__element dm-blog--article"
                             onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                        <p class="mn_lead dm-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></p>
                        <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                        <p class="dm-blog--teaser">{{teaser}}</p>
                    </article>
                {{/secondArticles}}
            </div>
        </mixteen-block>
    </div>
    <mixteen-block>
        <h1 class="mn_content">Les ateliers MixTeen</h1>

        <p class="mn_content">
          Nous organisons des ateliers pour les enfants et les adolescents de 7 à 15 ans, environ tous les 2-3 mois.
        </p>
				<p class="mn_content">
          Pour être informé de ces ateliers, il suffit de s'abonner à notre <a href="https://groups.google.com/forum/#!forum/liste-mixteen">mailing-list</a>,
          ou de nous follower sur Twitter <a href="https://twitter.com/MixTeen_Lyon">@MixTeen_Lyon</a>.
        </p>
        <p class="mn_content">
          Les ateliers ont souvent lieu dans les locaux de la <a href="http://www.mmi-lyon.fr/">MMI</a>,
          et généralement un après-midi.
        </p>
				<p class="mn_content">
          Pour plus d'information, consultez la <a href="faq.html">Foire aux questions</a>.
        </p>
        <p align="center">
            <img src="img/logo/logo_mixteen_baseline.png" alt="MixTeen" title="MixTeen"
                 style="width:100%;max-width: 800px">
        </p>

    </mixteen-block>
    {{> _page_footer}}
</main>
{{> _html_footer}}
</body>
</html>
