<div class="dm_head" id="home">
    <mixteen-block>
        <p class="dm_logo">
            <img src="../../img/logo/logo_mixteen_alt_baseline.svg" alt="MixTeen" title="MixTeen">
        </p>
    </mixteen-block>
</div>
<mixteen-block>
    <p class="dm_lead">
        La programmation n'est pas réservée aux informaticiens adultes et pas besoin de faire des études pendant des années
        pour comprendre comment on programme. Tu es un enfant ou un ado entre 7 ans et 15 ans, toute la team MixTeen est là
        pour te montrer qu'avec de la créativité et de la curiosité, il est possible de réaliser des programmes informatiques
        tout en s’amusant.
    </p>

    <p align="center">
        <img src="../../img/baseline.svg" alt="MixTeen" title="MixTeen" style="width:100%;max-width: 800px">
    </p>

    <p>
        Pour les parents : Proposez à vos enfants de comprendre l’informatique de façon ludique, avec des outils qui leur sont adaptés. Nous leur ferons découvrir les clés de la programmation.
    </p>
    <p>
        Pour les enfants : apprenez à créer vos mini-jeux, mini-films sur un ordinateur en venant programmer avec nous !
    </p>
</mixteen-block>

<mixteen-block>
    <h1>Qu'est-ce qu'on fait ?</h1>

    <p>Nous organisons plusieurs événements par an que tu peux suivre dans la partie "Evénements" en cliquant sur le menu correspondant en haut</p>
</mixteen-block>

<mixteen-block>
    <h1>L'histoire de MixTeen</h1>

    <p class="dm_lead">
    Lors de la keynote finale de de https://mixitconf.org/2012[Mix-IT 2012], https://twitter.com/pamelafox[Pamela Fox] imaginait un monde où l'on apprend à coder dès notre plus
    jeune âge et fixe à chacun de nous un objectif : enseigner la programmation à une personne.
    </p>
    <p>
        Lors de l'édition Mix-IT 2013, Audrey Neveu et Aline Paponaud nous ont présenté l'initiative Programatoo qu'elles mènent avec
        d'autres passionés.En octobre 2013, nous avons organisé une session le 5 octobre 2013, avec la participation
        essentielle d'Audrey Neveu. Les enfants purent découvrir Scratch et les premières joies du code ainsi que Lego Mindstorms
        et l'apprentissage des bases de la robotique.
    </p>
    <p>En 2014, on lance notre propre atelier de programmation dans le cadre de MiXiT, c'est la naissance de MixTeeN !</p>
</mixteen-block>